<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <property name="SERVICE_NAME" value="crawlfb-prod"/>
    <property name="FILE_LOG_HOME" value="logs"/>
    <property name="MAX_FILE_SIZE" value="10MB"/>
    <property name="TOTAL_SIZE_CAP" value="1GB"/>
    <property name="LOKI_ENDPOINT" value="${LOKI_ENDPOINT}" />
    <property name="LOKI_USER" value="${LOKI_USER}" />
    <property name="LOKI_PASS" value="${LOKI_PASS}" />
    <!-- Console -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Rolling File Appender -->
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILE_LOG_HOME}/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${FILE_LOG_HOME}/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}#%M - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Error Log File -->
    <appender name="ErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILE_LOG_HOME}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${FILE_LOG_HOME}/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}#%M - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${LOKI_ENDPOINT}</url>
            <auth>
                <username>${LOKI_USER}</username>
                <password>${LOKI_PASS}</password>
            </auth>
            <useProtobufApi>true</useProtobufApi>
            <sender class="com.github.loki4j.logback.ApacheHttpSender"/>
            <requestTimeoutMs>10000</requestTimeoutMs>

        </http>
        <labels>
            app = ${SERVICE_NAME}
            host = ${HOSTNAME}
            level = %level
        </labels>
        <message>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}#%M - %msg%n</pattern>
        </message>
        <batch>
            <maxItems>100</maxItems>
            <timeoutMs>10000</timeoutMs>
        </batch>
        <verbose>true</verbose>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="ErrorFile"/>
        <appender-ref ref="LOKI"/>
    </root>


</configuration>